@import url('./google-material-icon.css');
@import url('./CascadiaCode.css');
:root {
  /*  */
  --bg-color: #2f3650;
  /*  */
  --bg-sidebar-color: #1a1f2e;
  /*  */
  --green-4: #436b55;
  /*  */
  --green-3: #4b8056;
  /*  */
  --green-2: #549658;
  /*  */
  --green-1: #5dac5a;
  /*  */
  --scroll-track-bg: #404d7c;

  --bg-kbd: #232a3f;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
  color: whitesmoke;
  overflow: hidden;
}
.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.side-bar {
  background-color: var(--bg-sidebar-color) !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 0% !important;
  min-width: 300px !important;
  max-width: 350px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  color: whitesmoke;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.side-bar-header {
  margin: 10px 0 !important;
  height: 25px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: var(--green-4) !important;
  font-size: 18px !important;
}
.side-bar-header-dirname {
  font-weight: bold !important;
  width: 60% !important;
  height: 70% !important;
  overflow: hidden !important;
  font-size: 15px !important;
  margin-left: 2px !important;
}
.side-bar-header-button-group {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  margin-right: 10px !important;
}
.active {
  color: var(--green-1);
  text-decoration: underline;
}

ul {
  list-style: none; /* Remove default bullet points */
}

.dir-root {
  cursor: pointer !important;
}

.dir {
  font-style: italic !important;
  margin: 10px 15px !important;
  display: flex !important;
  line-height: 15px !important;
  align-items: center !important;
  width: 98% !important;
}
.dir h5 {
  opacity: 0.8;
  display: block !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  margin: 0 0 0 10px !important;
}

.dir h5:hover {
  color: var(--green-1);
  text-decoration: underline;
}

.sub-dir-root {
  margin-left: 35px !important;
}

.files {
  cursor: pointer !important;
  margin: 10px 10px !important;
  width: 95% !important;
  max-height: 16px !important;
  overflow: hidden !important;
  line-height: 15px !important;
  font-size: 15px;
  display: flex !important;
}
.files p {
  margin-left: 10px !important;
}
.files:hover {
  color: var(--green-1);
  text-decoration: underline;
  background-color: #2f3650;
}
.icon {
  color: var(--green-2) !important;
}
::-webkit-scrollbar {
  width: 8px !important; /* Adjust the width as needed */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--green-1) !important; /* Color of the scrollbar thumb */
  border-radius: 30px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green-2) !important; /* Color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-track-bg);
  border-radius: 30px !important;
}

.render-area {
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column;
  flex: 1;
  overflow: hidden !important;
}
.navigation-area {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
.navigation-area i {
  height: 48px;
  width: 48px;
  font-size: 48px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--green-2);
  border-radius: 50%;
}
.navigation-area i:hover {
  background-color: #5dac5a;
}
.fileTitle {
  font-weight: bold;
  font-size: 38px;
  overflow: hidden;
  width: 80%;
  text-align: center;
  max-height: 120px;
  line-height: 40px;
}
.video-root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  overflow: auto;
}

.video {
  width: 90%;
  height: fit-content;
}
.speed {
  background-color: var(--bg-sidebar-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
}
.speed:hover {
  opacity: 0.8;
}
.pdf-reader-root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.default-Element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

kbd {
  background-color: var(--bg-kbd); /* Make the kbd background transparent */
  border: 1px solid #ccc;
  padding: 2px 5px;
  font-family: 'Cascadia Code', monospace;
  font-size: 14px;
  color: #fff; /* Keep the text color the same as the container */
  border-radius: 5px;
  margin: 3px;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
