@import url("./google-material-icon.css");
:root {
  /*  */
  --bg-color: #2f3650;
  /*  */
  --green-4: #436b55;
  /*  */
  --green-3: #4b8056;
  /*  */
  --green-2: #549658;
  /*  */
  --green-1: #5dac5a;
  /*  */
  --scroll-track-bg: #404d7c;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
  color: whitesmoke;
  overflow: hidden;
}
.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-bar {
  background-color: var(--bg-color) !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 30% !important;
  min-width: 300px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  color: whitesmoke;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.side-bar-header {
  margin: 10px 0 !important;
  height: 25px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: var(--green-4) !important;
  font-size: 18px !important;
}
.side-bar-header-dirname {
  font-weight: bold !important;
  width: 60% !important;
  height: 70% !important;
  overflow: hidden !important;
  font-size: 15px !important;
  margin-left: 2px !important;
}
.side-bar-header-button-group {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  margin-right: 10px !important;
}
.active {
  color: var(--green-1);
  text-decoration: underline;
}

ul {
  list-style: none; /* Remove default bullet points */
}

.dir-root {
  cursor: pointer !important;
}

.dir {
  font-style: italic !important;
  margin: 25px 15px !important;
  display: flex !important;
  line-height: 15px !important;
  align-items: center !important;
  width: 98% !important;
}
.dir h3 {
  display: block !important;
  font-size: 1.17em !important;
  font-weight: bold !important;
  margin: 0 0 0 15px !important;
}

.dir h3:hover {
  color: var(--green-1);
  text-decoration: underline;
}

.sub-dir-root {
  margin-left: 35px !important;
}

.files {
  cursor: pointer !important;
  margin: 20px 10px !important;
  width: 95% !important;
  max-height: 45px !important;
  overflow: hidden !important;
  line-height: 20px !important;
  display: flex !important;
}
.files p {
  margin-left: 15px !important;
}
.files p:hover {
  color: var(--green-1);
  text-decoration: underline;
}
.icon {
  color: var(--green-2) !important;
}
::-webkit-scrollbar {
  width: 8px !important; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background: var(--green-1) !important; /* Color of the scrollbar thumb */
  border-radius: 30px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(
    --green-2
  ) !important; /* Color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-track-bg);
  border-radius: 30px !important;
}

.render-area {
  width: 70% !important;
  height: 98vh !important;
  display: flex !important;
  align-items: center !important;
  overflow-y: auto !important;
  flex-direction: column;
}
.navigation-area {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
.navigation-area i {
  height: 48px;
  width: 48px;
  font-size: 48px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--green-2);
  border-radius: 50%;
}
.navigation-area i:hover {
  background-color: #5dac5a;
}
.fileTitle {
  font-weight: bold;
  font-size: 38px;
  overflow: hidden;
  width: 80%;
  text-align: center;
  max-height: 120px;
  line-height: 40px;
}
.video {
  width: 90%;
}
.pdf-reader-root {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pdf-reader-document {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pdf-page {
  margin-bottom: 10px;
}
.pageNumber {
  position: relative;
  bottom: 9px;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 15px;
  font-size: 15px;
  font-style: italic;
}
