@import url("./google-material-icon.css");
:root {
  /*  */
  --bg-color: #2f3650;
  /*  */
  --green-4: #436b55;
  /*  */
  --green-3: #4b8056;
  /*  */
  --green-2: #549658;
  /*  */
  --green-1: #5dac5a;
  /*  */
  --scroll-track-bg: #404d7c;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
  color: whitesmoke;
  overflow: hidden;
}
.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-bar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 20%;
  min-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.side-bar-header {
  margin: 10px 0;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-4);
  font-size: 18px;
}
.side-bar-header-dirname {
  font-weight: bold;
  width: 60%;
  height: 70%;
  overflow: hidden;
  font-size: 15px;
  margin-left: 2px;
}
.side-bar-header-button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video-container {
  width: 80%;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  width: 90%;
}
.active {
  color: var(--green-1);
}

ul {
  list-style: none; /* Remove default bullet points */
}

.dir-root {
  cursor: pointer;
}

.dir {
  font-style: italic;
  margin: 25px 15px;
  display: flex;
  line-height: 15px;
  align-items: center;
  width: 98%;
}
.dir h3 {
  margin-left: 15px;
}
.sub-dir-root {
  margin-left: 35px;
}

.files {
  cursor: pointer;
  margin: 20px 10px;
  width: 95%;
  max-height: 45px;
  overflow: hidden;
  line-height: 20px;
  display: flex;
}
.files p {
  margin-left: 15px;
}
.icon {
  color: var(--green-2);
}
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background: var(--green-1); /* Color of the scrollbar thumb */
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green-2); /* Color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-track-bg);
  border-radius: 30px;
}

.pdf-reader-root {
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.pdf-reader-document {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageNumber {
  position: relative;
  /* background: red; */
  bottom: 35px;
  /* right: 18px; */
  color: black;
}
